.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #030303;
  padding-bottom: 4%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #050505;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{

  background-color: #363636;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 50%;
  padding-right: 50% ;
  margin-top: -1.5% ;
}
.Mains {

text-decoration: none;
display: flex;
flex-direction: row;
margin-right: 120px;
}

.menus {

  padding-left: 1%;
  padding-right: 10%;
  

}

.seccionmenu {

background-color: #412f2f;

margin-top: -2.3%;
padding-right: 5%;
padding-left: 35%;
margin-right: 5%;
padding-right: 30%;
}

.Count {
  font-family: sans-serif;
  text-align: center;
  color: black;
  border-radius: 8% ;
  margin-left: 25px;
  background-color: transparent;
 
}



.Counts{
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  background-color: rgba(22, 7, 22, 0.808);
  padding-top: 3%;
  padding-bottom: 5%;
 
 }
 
 .co1{
 margin-right: 25px;
 margin-left: 25px;
 background-color: transparent;
 
 }
 
 .co2{
     margin-right: 25px;
     margin-left: 25px;
     background-color: transparent;
 }
 
 .co3{
     margin-right: 25px;
     margin-left: 25px;
     background-color: transparent;
 }